.wrapper {
  margin: 0 auto;
  text-align: center;
}
.heading {
}
.form {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.input {
  padding: 5px;
  width: 100%;
  max-width: 100px;
  margin-right: 10px;
  outline: none;
}

.input-alert {
  border: 2px solid red;
}
.btn {
  border: none;
  background-color: rgb(104, 117, 233);
  padding: 5px 10px;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}
.list {
  @include reset-list;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.item {
  position: relative;
  z-index: 1;
  vertical-align: middle;
  width: 140px;
  height: 160px;
  border: 1px solid #333;
  border-radius: 5px;
  margin: 15px;
  padding: 15px;
  padding-top: 80px;

  &:before {
    position: absolute;
    top: 10px;
    right: 50%;
    transform: translateX(50%);
    display: inline-block;
    width: 60px;
    height: 60px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    content: "";
  }
}
.foot::before {
  background-image: url(../images/man.svg);
}

.bike::before {
  background-image: url(../images/bike.svg);
}

.car::before {
  background-image: url(../images/car.svg);
}

.plane::before {
  background-image: url(../images/plane.svg);
}

.paragraph {
  font-weight: bold;
}
